body { 
  color:red}
/* Navigation & Header Styles */
header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}
Student Name (Lastname, First Name, Middle Initial)
/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
